In [1]:
import numpy as np
import pandas as pd

In [2]:
import gc
gc.enable()

## 1. Get the Data

In [3]:
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')

In [4]:
train[:5]

,TripType,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber
0,999,5,Friday,68113152929,-1,FINANCIAL SERVICES,1000
1,30,7,Friday,60538815980,1,SHOES,8931
2,30,7,Friday,7410811099,1,PERSONAL CARE,4504
3,26,8,Friday,2238403510,2,PAINT AND ACCESSORIES,3565
4,26,8,Friday,2006613744,2,PAINT AND ACCESSORIES,1017

In [5]:
train.dtypes

TripType                   int64
VisitNumber                int64
Weekday                   object
Upc                      float64
ScanCount                  int64
DepartmentDescription     object
FinelineNumber           float64
dtype: object

## 2. Feature Engineering

In [6]:
# Replace labels with floats
from sklearn.preprocessing import LabelEncoder
lbl_enc = LabelEncoder()

for c in ['Weekday', 'DepartmentDescription']:
    train[c] = lbl_enc.fit_transform(train[c])
    test[c] = lbl_enc.transform(test[c])
    
train[:3]

/usr/local/lib/python2.7/dist-packages/numpy/lib/arraysetops.py:198: FutureWarning: numpy not_equal will not check object identity in the future. The comparison did not return the same result as suggested by the identity (`is`)) and will change.
  flag = np.concatenate(([True], aux[1:] != aux[:-1]))
/usr/local/lib/python2.7/dist-packages/numpy/lib/arraysetops.py:251: FutureWarning: numpy equal will not check object identity in the future. The comparison did not return the same result as suggested by the identity (`is`)) and will change.
  return aux[:-1][aux[1:] == aux[:-1]]

,TripType,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber
0,999,5,0,68113152929,-1,21,1000
1,30,7,0,60538815980,1,63,8931
2,30,7,0,7410811099,1,51,4504

In [7]:
train.isnull().sum(axis=0)

TripType                    0
VisitNumber                 0
Weekday                     0
Upc                      4129
ScanCount                   0
DepartmentDescription       0
FinelineNumber           4129
dtype: int64

In [8]:
from sklearn.preprocessing import Imputer
imputer = Imputer(strategy='mean')
train = pd.DataFrame(imputer.fit_transform(train), columns=train.columns)
test = pd.DataFrame(imputer.fit_transform(test), columns=test.columns)

In [9]:
train = train.astype(int)
test = test.astype(int)

In [10]:
train.dtypes

TripType                 int64
VisitNumber              int64
Weekday                  int64
Upc                      int64
ScanCount                int64
DepartmentDescription    int64
FinelineNumber           int64
dtype: object

In [11]:
%%time
train_builded = pd.get_dummies(train, columns=['TripType'], prefix=['TripType'])
# test_builded = pd.get_dummies(test, columns=['DepartmentDescription'], prefix=['Department'])

CPU times: user 584 ms, sys: 164 ms, total: 748 ms
Wall time: 749 ms

In [13]:
%%time
train_builded.fillna(0, inplace=True)
# test_builded.fillna(0, inplace=True)

CPU times: user 88 ms, sys: 0 ns, total: 88 ms
Wall time: 88.5 ms

In [15]:
train_builded[:3]

,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber,TripType_3,TripType_4,TripType_5,TripType_6,...,TripType_36,TripType_37,TripType_38,TripType_39,TripType_40,TripType_41,TripType_42,TripType_43,TripType_44,TripType_999
0,5,0,68113152929,-1,21,1000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,7,0,60538815980,1,63,8931,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,7,0,7410811099,1,51,4504,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
cols_tr = list(train_builded.columns)
cols_te = list(test.columns)
cols_to_remove = ['Upc', 'FinelineNumber']
[cols_tr.remove(c) for c in cols_to_remove]
[cols_te.remove(c) for c in cols_to_remove]

train_builded = train_builded[cols_tr]
test_builded = test[cols_te]

In [18]:
for col in cols_tr:
    if col not in cols_te:
        test_builded[col] = 0
        cols_te.append(col)

/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [19]:
for col in cols_te:
    if col not in cols_tr:
        train_builded[col] = 0
        cols_tr.append(col)

In [20]:
print len(cols_tr)
print len(cols_te)

42
42

In [170]:
%%time
sorted_depts = sorted(train.DepartmentDescription.unique())
department_means = []
for i in range(len(train.DepartmentDescription.unique())):
    dep = sorted_depts[i]
    group_len = len(train_builded[train_builded.DepartmentDescription == dep])
    one_group = train_builded[train_builded.DepartmentDescription == dep].groupby('DepartmentDescription', as_index=False).sum() / group_len
    department_means.append(one_group[one_group.columns[4:]].values[0])

def get_triptypes_list(dep):
    idx = sorted_depts.index(dep)
    return department_means[idx]

def get_triptypes_pandas(series):
    array = []
    for el in series.values:
        array.append(get_triptypes_list(el))
    return np.array(array)

CPU times: user 3.7 s, sys: 0 ns, total: 3.7 s
Wall time: 3.71 s

In [182]:
%%time
train_builded[train_builded.columns[4:]] = get_triptypes_pandas(train_builded.DepartmentDescription)
test_builded[test_builded.columns[4:]] = get_triptypes_pandas(test_builded.DepartmentDescription)

CPU times: user 11.5 s, sys: 4.54 s, total: 16 s
Wall time: 18.6 s

In [173]:
train_builded[:5]

,VisitNumber,Weekday,ScanCount,DepartmentDescription,TripType_3,TripType_4,TripType_5,TripType_6,TripType_7,TripType_8,...,TripType_36,TripType_37,TripType_38,TripType_39,TripType_40,TripType_41,TripType_42,TripType_43,TripType_44,TripType_999
0,5,0,-1,21,0.500699,0.000466,0.004663,0.001306,0.006062,0.000000,...,0.011564,0.011377,0.010072,0.041033,0.048774,0.003637,0.011098,0.008580,0.012030,0.213466
1,7,0,1,63,0.000984,0.000164,0.006558,0.002131,0.004755,0.008198,...,0.013445,0.010985,0.006886,0.082145,0.087883,0.055747,0.101492,0.018036,0.068208,0.048533
2,7,0,1,51,0.000953,0.000762,0.021969,0.001739,0.004908,0.063142,...,0.205747,0.016584,0.013987,0.193619,0.236150,0.007768,0.020491,0.012462,0.044247,0.015654
3,8,0,2,50,0.001744,0.000581,0.005814,0.000581,0.006977,0.013953,...,0.011628,0.010465,0.012791,0.070349,0.081977,0.014535,0.109884,0.034302,0.077907,0.045930
4,8,0,2,50,0.001744,0.000581,0.005814,0.000581,0.006977,0.013953,...,0.011628,0.010465,0.012791,0.070349,0.081977,0.014535,0.109884,0.034302,0.077907,0.045930

%%time
train_builded = train_builded.reindex_axis(sorted(cols_tr), axis=1)
test_builded = test_builded.reindex_axis(sorted(cols_tr), axis=1)

#### Make grouped data

In [184]:
train_builded['Counter'] = 1
test_builded['Counter'] = 1

newcols = list(train_builded.columns)
newcols.remove('DepartmentDescription')
train_builded = train_builded[newcols]
test_builded = test_builded[newcols]

In [185]:
train_builded[:3]

,VisitNumber,Weekday,ScanCount,TripType_3,TripType_4,TripType_5,TripType_6,TripType_7,TripType_8,TripType_9,...,TripType_37,TripType_38,TripType_39,TripType_40,TripType_41,TripType_42,TripType_43,TripType_44,TripType_999,Counter
0,5,0,-1,0.500699,0.000466,0.004663,0.001306,0.006062,0.000000,0.005689,...,0.011377,0.010072,0.041033,0.048774,0.003637,0.011098,0.008580,0.012030,0.213466,1
1,7,0,1,0.000984,0.000164,0.006558,0.002131,0.004755,0.008198,0.104279,...,0.010985,0.006886,0.082145,0.087883,0.055747,0.101492,0.018036,0.068208,0.048533,1
2,7,0,1,0.000953,0.000762,0.021969,0.001739,0.004908,0.063142,0.008173,...,0.016584,0.013987,0.193619,0.236150,0.007768,0.020491,0.012462,0.044247,0.015654,1

In [187]:
%%time
train_grouped = train_builded.groupby(['VisitNumber', 'Weekday'], as_index=False).sum()
test_grouped = test_builded.groupby(['VisitNumber', 'Weekday'], as_index=False).sum()

CPU times: user 1.08 s, sys: 452 ms, total: 1.53 s
Wall time: 1.6 s

In [189]:
counts = train_grouped['Counter']
train_grouped.drop(labels=['Counter'], axis=1,inplace = True)
train_grouped.insert(0, 'Counter', counts)

counts = test_grouped['Counter']
test_grouped.drop(labels=['Counter'], axis=1,inplace = True)
test_grouped.insert(0, 'Counter', counts)

In [190]:
train_grouped[:4]

,Counter,VisitNumber,Weekday,ScanCount,TripType_3,TripType_4,TripType_5,TripType_6,TripType_7,TripType_8,...,TripType_36,TripType_37,TripType_38,TripType_39,TripType_40,TripType_41,TripType_42,TripType_43,TripType_44,TripType_999
0,1,5,0,-1,0.500699,0.000466,0.004663,0.001306,0.006062,0.000000,...,0.011564,0.011377,0.010072,0.041033,0.048774,0.003637,0.011098,0.008580,0.012030,0.213466
1,2,7,0,2,0.001937,0.000926,0.028527,0.003871,0.009663,0.071340,...,0.219192,0.027569,0.020873,0.275764,0.324034,0.063514,0.121983,0.030497,0.112455,0.064187
2,23,8,0,28,0.035301,0.012073,0.144358,0.029211,0.371744,0.538846,...,0.280678,0.690316,0.528986,2.199031,3.444934,0.267353,1.855940,0.600150,1.452755,0.981146
3,3,9,0,3,0.028863,0.003085,0.035097,0.013697,0.139349,0.163891,...,0.062126,0.550497,0.113776,0.396735,0.796591,0.014476,0.057619,0.024438,0.055311,0.057399

In [199]:
train_grouped[train_grouped.columns[4:]] = train_grouped[train_grouped.columns[4:]] / train_grouped.Counter

MemoryError:

## 3. Cross Validation

In [99]:
xtrain = train_grouped[train_grouped.columns[2:]]
ytrain = train_grouped.TripType
# xtest = test_grouped[test_grouped.columns[2:]]

In [100]:
def multiclass_log_loss(y_true, y_pred, eps=1e-15):
    classes = np.sort(train.TripType.unique())
    Y_true = y_true.apply(lambda x: np.where(classes==x)[0][0]).values
    predictions = np.clip(y_pred, eps, 1 - eps)

    # normalize row sums to 1
    predictions /= predictions.sum(axis=1)[:, np.newaxis]

    actual = np.zeros(y_pred.shape)
    rows = actual.shape[0]
    actual[np.arange(rows), Y_true.astype(int)] = 1
    vsota = np.sum(actual * np.log(predictions))
    return -1.0 / rows * vsota

#### 3.1b. Try Random Forest

In [101]:
%%time
from sklearn.cross_validation import train_test_split

xtr, xcv, ytr, ycv = train_test_split(xtrain, ytrain, test_size = 0.052,  random_state = 42)

CPU times: user 192 ms, sys: 4 ms, total: 196 ms
Wall time: 202 ms

In [102]:
%%time
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(
    n_estimators=100,
#     max_depth=10,
#     max_features=17,
    n_jobs=3,
    oob_score=True
)
rf.fit(xtr, ytr)

CPU times: user 1min 9s, sys: 1.21 s, total: 1min 11s
Wall time: 28.9 s

In [103]:
predictionRF_train = rf.predict_proba(xcv)
print multiclass_log_loss(ycv, predictionRF_train)

1.65725816178

In [25]:
predictionRF_test = rf.predict_proba(xtest)

#### 2. Try XGBoost multiclass (gbtree)

In [58]:
# Set params

params = {"objective": "multi:softprob",
          "booster": "gbtree",
          "eta": 0.2,
          "max_depth": 12,
          "subsample": 0.9,
          "colsample_bytree": 0.7,
          "silent": 1,
          "num_class": 38,
          "eval_metric": 'mlogloss'
          }
num_trees = 30
stop = 20

In [59]:
labels = np.sort(ytrain.unique())

In [60]:
ytr_labeled = pd.Series([np.where(labels==x)[0][0] for x in ytr])
ycv_labeled = pd.Series([np.where(labels==x)[0][0] for x in ycv])

In [61]:
import xgboost as xgb
from sklearn.cross_validation import train_test_split

dtrain = xgb.DMatrix(xtr.values, label=ytr_labeled)
dvalid = xgb.DMatrix(xcv.values, label=ycv_labeled)
watchlist = [(dvalid, 'eval'), (dtrain, 'train')]
gbm = xgb.train(params, dtrain, num_trees, evals=watchlist, early_stopping_rounds=stop, verbose_eval=True)

Will train until train error hasn't decreased in 20 rounds.
[0]	eval-mlogloss:2.575728	train-mlogloss:2.531678
[1]	eval-mlogloss:2.123851	train-mlogloss:2.059191
[2]	eval-mlogloss:1.892758	train-mlogloss:1.804875
[3]	eval-mlogloss:1.734165	train-mlogloss:1.628652
[4]	eval-mlogloss:1.618486	train-mlogloss:1.498755
[5]	eval-mlogloss:1.521860	train-mlogloss:1.388196
[6]	eval-mlogloss:1.443562	train-mlogloss:1.297639
[7]	eval-mlogloss:1.380058	train-mlogloss:1.222997
[8]	eval-mlogloss:1.323348	train-mlogloss:1.155505
[9]	eval-mlogloss:1.276912	train-mlogloss:1.097176
[10]	eval-mlogloss:1.237518	train-mlogloss:1.047907
[11]	eval-mlogloss:1.199751	train-mlogloss:1.002025
[12]	eval-mlogloss:1.170364	train-mlogloss:0.964045
[13]	eval-mlogloss:1.141127	train-mlogloss:0.925700
[14]	eval-mlogloss:1.118379	train-mlogloss:0.895007
[15]	eval-mlogloss:1.098366	train-mlogloss:0.867117
[16]	eval-mlogloss:1.079650	train-mlogloss:0.840764
[17]	eval-mlogloss:1.063020	train-mlogloss:0.815802
[18]	eval-mlogloss:1.048020	train-mlogloss:0.794737
[19]	eval-mlogloss:1.034287	train-mlogloss:0.774574
[20]	eval-mlogloss:1.021533	train-mlogloss:0.756377
[21]	eval-mlogloss:1.011995	train-mlogloss:0.741104
[22]	eval-mlogloss:1.004393	train-mlogloss:0.726634
[23]	eval-mlogloss:0.995010	train-mlogloss:0.711537
[24]	eval-mlogloss:0.987315	train-mlogloss:0.698437
[25]	eval-mlogloss:0.980511	train-mlogloss:0.686640
[26]	eval-mlogloss:0.973611	train-mlogloss:0.674813
[27]	eval-mlogloss:0.967911	train-mlogloss:0.663697
[28]	eval-mlogloss:0.963341	train-mlogloss:0.654067
[29]	eval-mlogloss:0.958587	train-mlogloss:0.644131

In [190]:
dcv = xgb.DMatrix(xcv.values)
XGB1 = gbm.predict(dcv)
indices = XGB1 < 0
XGB1[indices] = 0

In [191]:
multiclass_log_loss(ycv, XGB1)

0.63641752444569921

**The best score is:** 0.45266287447996978

## 5. Predict classes probabilities

#### Prepare submit with LR

In [216]:
rf.fit(train_stacked_grouped[cv_columns_tr], train_stacked_grouped.TripType)
predictionRF = rf.predict_proba(test_stacked_grouped[cv_columns_te])

In [217]:
submit_XGB = predictionRF
#test_stacked_grouped[:3]

#### With XGBoost

In [50]:
dtest = xgb.DMatrix(test_stacked_grouped[cv_columns_te].as_matrix())
predictionXGB = gbm.predict(dtest)
indices = predictionXGB < 0
predictionXGB[indices] = 0

In [51]:
submit_XGB = predictionXGB

In [52]:
submit_XGB

array([[  1.64106523e-03,   1.30538503e-03,   1.37398229e-03, ...,
          1.74849585e-03,   1.49152183e-03,   1.07993763e-02],
       [  1.00550351e-04,   9.42308543e-05,   9.79431061e-05, ...,
          1.39050113e-04,   1.05309147e-04,   1.89659011e-04],
       [  4.80866984e-05,   4.82663418e-05,   5.00364113e-05, ...,
          4.78701841e-05,   4.76965142e-05,   9.98090565e-01],
       ...,
       [  1.03858393e-03,   1.03626784e-03,   1.06251438e-03, ...,
          1.03483291e-03,   1.03107875e-03,   1.03711940e-01],
       [  4.93862433e-04,   5.00966038e-04,   5.21119975e-04, ...,
          1.05963531e-03,   1.96996005e-03,   6.51085167e-04],
       [  5.03390438e-05,   5.16264081e-05,   5.40690926e-05, ...,
          8.16527972e-05,   7.47916711e-05,   8.40847642e-05]], dtype=float32)

## 5. Submit probas

In [53]:
cl_names = ['VisitNumber']
for cls in rf.classes_:
    cl_names.append('TripType_' + str(int(cls)))

In [54]:
submit = pd.DataFrame(columns=cl_names)
submit['VisitNumber'] = test_stacked_grouped['VisitNumber']
submit[cl_names[1:]] = submit_XGB
submit[:5]

,VisitNumber,TripType_3,TripType_4,TripType_5,TripType_6,TripType_7,TripType_8,TripType_9,TripType_12,TripType_14,...,TripType_36,TripType_37,TripType_38,TripType_39,TripType_40,TripType_41,TripType_42,TripType_43,TripType_44,TripType_999
0,1,0.001641,0.001305,0.001374,0.001411,0.003621,0.003603,0.002000,0.001282,0.001255,...,0.001380,0.001620,0.816814,0.002736,0.001812,0.001567,0.001990,0.001748,0.001492,0.010799
1,2,0.000101,0.000094,0.000098,0.000128,0.000231,0.000301,0.000190,0.000101,0.000087,...,0.000147,0.000124,0.000100,0.000148,0.000106,0.000093,0.000101,0.000139,0.000105,0.000190
2,3,0.000048,0.000048,0.000050,0.000049,0.000056,0.000089,0.000061,0.000049,0.000048,...,0.000086,0.000049,0.000048,0.000048,0.000049,0.000048,0.000048,0.000048,0.000048,0.998091
3,4,0.000421,0.000423,0.000481,0.000431,0.000496,0.000510,0.836410,0.000429,0.000522,...,0.000430,0.000427,0.000436,0.000429,0.000430,0.000424,0.000455,0.000423,0.000458,0.075559
4,6,0.000048,0.000048,0.000050,0.000049,0.000055,0.000089,0.000061,0.000049,0.000048,...,0.000049,0.000049,0.000048,0.000048,0.000049,0.000048,0.000048,0.000048,0.000056,0.998081

In [55]:
submit.to_csv('submit.csv', index=False)