In [29]:
import numpy as np
import pandas as pd

In [40]:
# submit_086 = pd.read_csv('nata/submission3.csv')
submit_hand = pd.read_csv('hand_detection.csv')

In [41]:
def get_submit_order(value):
    new = []
    old = [int(x) for x in value.split(' ')]
    for x in sorted(old):
        new.append(old.index(x) + 1)
    return ' '.join([str(x) for x in new])

In [42]:
submit_hand['day'] = submit_hand['day'].apply(get_submit_order)

In [43]:
submit_hand = submit_hand.sort_values('setId')

In [12]:
submit_086[submit_086['setId'].apply(lambda x: x in submit_hand['setId'].values) == True][-10:]

     setId        day
258    326  5 4 5 2 1
259    328  2 4 1 3 4
260    329  5 2 3 5 1
261    330  4 1 2 4 3
262    331  2 1 4 5 4
263    332  2 4 4 5 1
264    333  4 3 1 2 4
266    335  2 1 4 5 4
268    337  2 1 4 4 3
271    341  1 4 2 4 3

In [13]:
submit_hand.sort_values('setId')[-10:]

     setId        day
112    326  5 4 3 2 1
161    328  2 4 1 3 5
54     329  5 2 3 4 1
177    330  5 1 2 4 3
135    331  2 1 3 5 4
0      332  2 3 4 5 1
128    333  4 5 1 2 3
12     335  2 4 3 1 5
183    337  2 1 5 4 3
158    341  1 5 2 4 3

In [14]:
for hand_set in submit_hand['setId'].values:
    submit_086.loc[submit_086['setId'] == hand_set, 'day'] = \
        submit_hand[submit_hand['setId'] == hand_set]['day'].values[0]

In [15]:
submit_086[submit_086['setId'].apply(lambda x: x in submit_hand['setId'].values) == True][-10:]

     setId        day
258    326  5 4 3 2 1
259    328  2 4 1 3 5
260    329  5 2 3 4 1
261    330  5 1 2 4 3
262    331  2 1 3 5 4
263    332  2 3 4 5 1
264    333  4 5 1 2 3
266    335  2 4 3 1 5
268    337  2 1 5 4 3
271    341  1 5 2 4 3

In [16]:
submit_086.to_csv('submissions/submit_last.csv', index=False)

In [44]:
submit_hand.to_csv('submissions/submit_final.csv', index=False)

In [162]:
cc_pre = pd.read_csv('cc_pre.csv')
submit_095 = pd.read_csv('submissions/submit_095.csv')

In [169]:
cc_pre.sort_values('setId')[:5]

    setId        day
34      1  5 3 2 4 1
14      6  3 4 1 2 5
45     19  2 4 1 3 5
31     23  3 4 2 1 5
0      33  2 3 4 1 5

In [170]:
submit_095[submit_095['setId'].apply(lambda x: x in cc_pre['setId'].values) == True][:5]

    setId        day
0       1  5 3 1 4 2
3       6  3 4 2 1 5
13     19  1 4 2 3 5
15     23  3 4 1 2 5
22     33  1 3 4 2 5

In [171]:
for hand_set in cc_pre['setId'].values:
    submit_095.loc[submit_095['setId'] == hand_set, 'day'] = \
        cc_pre[cc_pre['setId'] == hand_set]['day'].values[0]

In [172]:
submit_095[submit_095['setId'].apply(lambda x: x in cc_pre['setId'].values) == True][:5]

    setId        day
0       1  5 3 2 4 1
3       6  3 4 1 2 5
13     19  2 4 1 3 5
15     23  3 4 2 1 5
22     33  2 3 4 1 5

In [173]:
submit_095.to_csv('submissions/submit_291_other.csv', index=False)

In [176]:
print sorted(cc_pre['setId'].values)

[1, 6, 19, 23, 33, 37, 46, 48, 52, 56, 82, 85, 86, 88, 90, 111, 120, 122, 125, 126, 127, 133, 134, 138, 140, 148, 164, 168, 172, 174, 187, 208, 226, 231, 233, 254, 258, 260, 271, 284, 291, 299, 305, 324, 325, 326, 331, 333]