In [147]:
import numpy as np
import pandas as pd

In [3]:
import gc
gc.enable()

## 1. Get the Data

In [149]:
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')

In [150]:
train[:5]

,TripType,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber
0,999,5,Friday,68113152929,-1,FINANCIAL SERVICES,1000
1,30,7,Friday,60538815980,1,SHOES,8931
2,30,7,Friday,7410811099,1,PERSONAL CARE,4504
3,26,8,Friday,2238403510,2,PAINT AND ACCESSORIES,3565
4,26,8,Friday,2006613744,2,PAINT AND ACCESSORIES,1017

In [151]:
train.dtypes

TripType                   int64
VisitNumber                int64
Weekday                   object
Upc                      float64
ScanCount                  int64
DepartmentDescription     object
FinelineNumber           float64
dtype: object

## 2. Feature Engineering

In [152]:
# Replace labels with floats
from sklearn.preprocessing import LabelEncoder
lbl_enc = LabelEncoder()

for c in ['Weekday', 'DepartmentDescription']:
    train[c] = lbl_enc.fit_transform(train[c])
    test[c] = lbl_enc.transform(test[c])
    
train[:3]

,TripType,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber
0,999,5,0,68113152929,-1,21,1000
1,30,7,0,60538815980,1,63,8931
2,30,7,0,7410811099,1,51,4504

In [153]:
train.isnull().sum(axis=0)

TripType                    0
VisitNumber                 0
Weekday                     0
Upc                      4129
ScanCount                   0
DepartmentDescription       0
FinelineNumber           4129
dtype: int64

In [154]:
from sklearn.preprocessing import Imputer
imputer = Imputer(strategy='mean')
train = pd.DataFrame(imputer.fit_transform(train), columns=train.columns)
test = pd.DataFrame(imputer.fit_transform(test), columns=test.columns)

In [155]:
train = train.astype(int)
test = test.astype(int)

In [156]:
train.dtypes

TripType                 int32
VisitNumber              int32
Weekday                  int32
Upc                      int32
ScanCount                int32
DepartmentDescription    int32
FinelineNumber           int32
dtype: object

In [166]:
%%time
train_builded = pd.get_dummies(train, columns=['TripType', 'DepartmentDescription'], prefix=['TripType', 'Department'])
test_builded = pd.get_dummies(test, columns=['DepartmentDescription'], prefix=['Department'])

train_builded['DepartmentDescription'] = train['DepartmentDescription']
test_builded['DepartmentDescription'] = test['DepartmentDescription']

Wall time: 3.29 s

In [167]:
train[:5]

,TripType,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber
0,999,5,0,-2147483648,-1,21,1000
1,30,7,0,-2147483648,1,63,8931
2,30,7,0,-2147483648,1,51,4504
3,26,8,0,-2147483648,2,50,3565
4,26,8,0,2006613744,2,50,1017

In [ ]:
train_pivot = pd.pivot_table(train, values='ScanCount', index='VisitNumber', columns='FinelineNumber')

In [ ]:
%%time
train_builded.fillna(0, inplace=True)
test_builded.fillna(0, inplace=True)

In [160]:
train_builded[:3]

,VisitNumber,Weekday,Upc,ScanCount,FinelineNumber,TripType_3,TripType_4,TripType_5,TripType_6,TripType_7,...,Department_60,Department_61,Department_62,Department_63,Department_64,Department_65,Department_66,Department_67,Department_68,DepartmentDescription
0,5,0,-2147483648,-1,1000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,21
1,7,0,-2147483648,1,8931,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,63
2,7,0,-2147483648,1,4504,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,51

In [161]:
cols_tr = list(train_builded.columns)
cols_te = list(test.columns)
cols_to_remove = ['Upc', 'FinelineNumber']
[cols_tr.remove(c) for c in cols_to_remove]
[cols_te.remove(c) for c in cols_to_remove]

train_builded = train_builded[cols_tr]
test_builded = test[cols_te]

In [162]:
for col in cols_tr:
    if col not in cols_te:
        test_builded[col] = 0
        cols_te.append(col)

C:\Program Files\Anaconda\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [163]:
for col in cols_te:
    if col not in cols_tr:
        train_builded[col] = 0
        cols_tr.append(col)

In [164]:
print len(cols_tr)
print len(cols_te)

111
111

In [165]:
%%time
train_builded = train_builded.reindex_axis(sorted(cols_tr), axis=1)
test_builded = test_builded.reindex_axis(sorted(cols_tr), axis=1)

Wall time: 854 ms

In [77]:
%%time
sorted_depts = sorted(train_builded.FinelineNumber.unique())
department_means = []
for i in range(len(train_builded.DepartmentDescription.unique())):
    dep = sorted_depts[i]
    group_len = len(train_builded[train_builded.DepartmentDescription == dep])
    one_group = train_builded[train_builded.DepartmentDescription == dep].groupby('DepartmentDescription', as_index=False).sum() / group_len
    department_means.append(one_group[one_group.columns[71:109]].values[0])

def get_triptypes_list(dep):
    idx = sorted_depts.index(dep)
    return department_means[idx]

def get_triptypes_pandas(series):
    array = []
    for el in series.values:
        array.append(get_triptypes_list(el))
    return np.array(array)

Wall time: 2.49 s

In [78]:
%%time
train_builded[train_builded.columns[71:109]] = get_triptypes_pandas(train_builded.DepartmentDescription)
test_builded[test_builded.columns[71:109]] = get_triptypes_pandas(test_builded.DepartmentDescription)

Wall time: 20.5 s

In [79]:
train_builded[:5]

,DepartmentDescription,Department_0,Department_1,Department_10,Department_11,Department_12,Department_13,Department_14,Department_15,Department_16,...,TripType_43,TripType_44,TripType_5,TripType_6,TripType_7,TripType_8,TripType_9,TripType_999,VisitNumber,Weekday
0,21,0,0,0,0,0,0,0,0,0,...,0.008580,0.012030,0.004663,0.001306,0.006062,0.000000,0.005689,0.213466,5,0
1,63,0,0,0,0,0,0,0,0,0,...,0.018036,0.068208,0.006558,0.002131,0.004755,0.008198,0.104279,0.048533,7,0
2,51,0,0,0,0,0,0,0,0,0,...,0.012462,0.044247,0.021969,0.001739,0.004908,0.063142,0.008173,0.015654,7,0
3,50,0,0,0,0,0,0,0,0,0,...,0.034302,0.077907,0.005814,0.000581,0.006977,0.013953,0.115698,0.045930,8,0
4,50,0,0,0,0,0,0,0,0,0,...,0.034302,0.077907,0.005814,0.000581,0.006977,0.013953,0.115698,0.045930,8,0

#### Make grouped data

In [80]:
train_builded['Counter'] = 1
test_builded['Counter'] = 1

newcols = list(train_builded.columns)
newcols.remove('DepartmentDescription')
train_builded = train_builded[newcols]
test_builded = test_builded[newcols]

In [81]:
train_builded[:3]

,Department_0,Department_1,Department_10,Department_11,Department_12,Department_13,Department_14,Department_15,Department_16,Department_17,...,TripType_44,TripType_5,TripType_6,TripType_7,TripType_8,TripType_9,TripType_999,VisitNumber,Weekday,Counter
0,0,0,0,0,0,0,0,0,0,0,...,0.012030,0.004663,0.001306,0.006062,0.000000,0.005689,0.213466,5,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0.068208,0.006558,0.002131,0.004755,0.008198,0.104279,0.048533,7,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0.044247,0.021969,0.001739,0.004908,0.063142,0.008173,0.015654,7,0,1

In [82]:
%%time
train_grouped = train_builded.groupby(['VisitNumber', 'Weekday'], as_index=False).sum()
test_grouped = test_builded.groupby(['VisitNumber', 'Weekday'], as_index=False).sum()

Wall time: 2.56 s

In [84]:
train_grouped[:4]

,VisitNumber,Weekday,Department_0,Department_1,Department_10,Department_11,Department_12,Department_13,Department_14,Department_15,...,TripType_42,TripType_43,TripType_44,TripType_5,TripType_6,TripType_7,TripType_8,TripType_9,TripType_999,Counter
0,5,0,0,0,0,0,0,0,0,0,...,0.011098,0.008580,0.012030,0.004663,0.001306,0.006062,0.000000,0.005689,0.213466,1
1,7,0,0,0,0,0,0,0,0,0,...,0.121983,0.030497,0.112455,0.028527,0.003871,0.009663,0.071340,0.112452,0.064187,2
2,8,0,1,0,0,0,0,0,0,0,...,1.855940,0.600150,1.452755,0.144358,0.029211,0.371744,0.538846,1.933242,0.981146,23
3,9,0,0,0,0,0,0,0,0,0,...,0.057619,0.024438,0.055311,0.035097,0.013697,0.139349,0.163891,0.054436,0.057399,3

In [87]:
train_grouped[train_grouped.columns[72:110]] = train_grouped[train_grouped.columns[72:110]].apply(lambda x: x / train_grouped.Counter)
test_grouped[test_grouped.columns[72:110]] = test_grouped[test_grouped.columns[72:110]].apply(lambda x: x / test_grouped.Counter)

In [101]:
train_grouped['Sat'] = train_grouped['Weekday'].apply(lambda x: int(x == 2))
train_grouped['Sun'] = train_grouped['Weekday'].apply(lambda x: int(x == 3))
train_grouped['Fri'] = train_grouped['Weekday'].apply(lambda x: int(x == 0))
train_grouped['WE'] = train_grouped['Weekday'].apply(lambda x: int(x == 2 or x == 3))

test_grouped['Sat'] = test_grouped['Weekday'].apply(lambda x: int(x == 2))
test_grouped['Sun'] = test_grouped['Weekday'].apply(lambda x: int(x == 3))
test_grouped['Fri'] = test_grouped['Weekday'].apply(lambda x: int(x == 0))
test_grouped['WE'] = test_grouped['Weekday'].apply(lambda x: int(x == 2 or x == 3))

In [108]:
train_answers = pd.read_csv('submit_train.csv')

for i in range(38):
    train_grouped['Answer_' + str(i)] = train_answers.ix[:, i+1:i+2]

## 3. Cross Validation

In [117]:
columns = list(train_grouped.columns)
columns.remove('VisitNumber')
columns.remove('Counter')

In [123]:
xtrain = train_grouped[columns]
ytrain = train.groupby(['VisitNumber', 'TripType'], as_index=False).sum().TripType
# xtest = test_grouped[test_grouped.columns[1:-1]]

In [4]:
xtrain = pd.read_csv('data/xtrain.csv')
ytrain = pd.read_csv('data/ytrain.csv', names=['TripType']).TripType
xtest = pd.read_csv('data/xtest.csv')

In [124]:
def multiclass_log_loss(y_true, y_pred, eps=1e-15):
    classes = np.sort(train.TripType.unique())
    Y_true = y_true.apply(lambda x: np.where(classes==x)[0][0]).values
    predictions = np.clip(y_pred, eps, 1 - eps)

    # normalize row sums to 1
    predictions /= predictions.sum(axis=1)[:, np.newaxis]

    actual = np.zeros(y_pred.shape)
    rows = actual.shape[0]
    actual[np.arange(rows), Y_true.astype(int)] = 1
    vsota = np.sum(actual * np.log(predictions))
    return -1.0 / rows * vsota

#### 3.1b. Try Random Forest

In [125]:
%%time
from sklearn.cross_validation import train_test_split

xtr, xcv, ytr, ycv = train_test_split(xtrain, ytrain, test_size = 0.052,  random_state = 42)

Wall time: 181 ms

In [132]:
%%time
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(
    n_estimators=100,
#     max_depth=10,
#     max_features=17,
    n_jobs=3,
    oob_score=True
)
rf.fit(xtr, ytr)

Wall time: 24.8 s

In [133]:
predictionRF_train = rf.predict_proba(xcv)
print multiclass_log_loss(ycv, predictionRF_train)

1.23035867596

In [25]:
predictionRF_test = rf.predict_proba(xtest)

#### 2. Try XGBoost multiclass (gbtree)

In [128]:
# Set params

params = {"objective": "multi:softprob",
          "booster": "gbtree",
          "eta": 0.02,
          "max_depth": 12,
          "subsample": 0.9,
          "colsample_bytree": 0.7,
          "silent": 1,
          "num_class": 38,
          "eval_metric": 'mlogloss'
          }
num_trees = 1000
stop = 20

In [129]:
labels = np.sort(ytrain.unique())

In [130]:
ytr_labeled = pd.Series([np.where(labels==x)[0][0] for x in ytr])
ycv_labeled = pd.Series([np.where(labels==x)[0][0] for x in ycv])

In [131]:
import xgboost as xgb

dtrain = xgb.DMatrix(xtr.values, label=ytr_labeled)
dvalid = xgb.DMatrix(xcv.values, label=ycv_labeled)
watchlist = [(dvalid, 'eval'), (dtrain, 'train')]
gbm = xgb.train(params, dtrain, num_trees, evals=watchlist, early_stopping_rounds=stop, verbose_eval=True)

Will train until train error hasn't decreased in 20 rounds.
[0]	eval-mlogloss:3.448480	train-mlogloss:3.438576
[1]	eval-mlogloss:3.309149	train-mlogloss:3.287743
[2]	eval-mlogloss:3.179650	train-mlogloss:3.147759
[3]	eval-mlogloss:3.072754	train-mlogloss:3.031006
[4]	eval-mlogloss:2.982092	train-mlogloss:2.931877
[5]	eval-mlogloss:2.892929	train-mlogloss:2.834865
[6]	eval-mlogloss:2.813817	train-mlogloss:2.747912
[7]	eval-mlogloss:2.742533	train-mlogloss:2.669620
[8]	eval-mlogloss:2.680436	train-mlogloss:2.599904
[9]	eval-mlogloss:2.622680	train-mlogloss:2.534653
[10]	eval-mlogloss:2.566970	train-mlogloss:2.472409
[11]	eval-mlogloss:2.514904	train-mlogloss:2.413132
[12]	eval-mlogloss:2.465389	train-mlogloss:2.357791
[13]	eval-mlogloss:2.419327	train-mlogloss:2.305848
[14]	eval-mlogloss:2.375197	train-mlogloss:2.255863
[15]	eval-mlogloss:2.332348	train-mlogloss:2.207612
[16]	eval-mlogloss:2.293153	train-mlogloss:2.162899
[17]	eval-mlogloss:2.255188	train-mlogloss:2.119705
[18]	eval-mlogloss:2.218818	train-mlogloss:2.078079
[19]	eval-mlogloss:2.184370	train-mlogloss:2.038738
[20]	eval-mlogloss:2.151962	train-mlogloss:2.001376
[21]	eval-mlogloss:2.120823	train-mlogloss:1.965361
[22]	eval-mlogloss:2.090038	train-mlogloss:1.930008
[23]	eval-mlogloss:2.060530	train-mlogloss:1.896341
[24]	eval-mlogloss:2.032133	train-mlogloss:1.863345
[25]	eval-mlogloss:2.006096	train-mlogloss:1.832639
[26]	eval-mlogloss:1.979489	train-mlogloss:1.801670
[27]	eval-mlogloss:1.955680	train-mlogloss:1.773631
[28]	eval-mlogloss:1.931254	train-mlogloss:1.745041
[29]	eval-mlogloss:1.908100	train-mlogloss:1.717855
[30]	eval-mlogloss:1.885137	train-mlogloss:1.690892
[31]	eval-mlogloss:1.862641	train-mlogloss:1.664466
[32]	eval-mlogloss:1.841328	train-mlogloss:1.639440
[33]	eval-mlogloss:1.820850	train-mlogloss:1.615374
[34]	eval-mlogloss:1.800568	train-mlogloss:1.591443
[35]	eval-mlogloss:1.781193	train-mlogloss:1.568209
[36]	eval-mlogloss:1.762295	train-mlogloss:1.545948
[37]	eval-mlogloss:1.743601	train-mlogloss:1.523519
[38]	eval-mlogloss:1.725022	train-mlogloss:1.501723
[39]	eval-mlogloss:1.707160	train-mlogloss:1.480630
[40]	eval-mlogloss:1.690588	train-mlogloss:1.460641
[41]	eval-mlogloss:1.674144	train-mlogloss:1.440820
[42]	eval-mlogloss:1.657661	train-mlogloss:1.421190
[43]	eval-mlogloss:1.642257	train-mlogloss:1.402449
[44]	eval-mlogloss:1.626855	train-mlogloss:1.384067
[45]	eval-mlogloss:1.611749	train-mlogloss:1.365974
[46]	eval-mlogloss:1.597455	train-mlogloss:1.348501
[47]	eval-mlogloss:1.582930	train-mlogloss:1.331137
[48]	eval-mlogloss:1.568917	train-mlogloss:1.314119
[49]	eval-mlogloss:1.555196	train-mlogloss:1.297471
[50]	eval-mlogloss:1.542257	train-mlogloss:1.281884
[51]	eval-mlogloss:1.529109	train-mlogloss:1.265980
[52]	eval-mlogloss:1.516453	train-mlogloss:1.250884
[53]	eval-mlogloss:1.504164	train-mlogloss:1.235953
[54]	eval-mlogloss:1.492553	train-mlogloss:1.221642
[55]	eval-mlogloss:1.481053	train-mlogloss:1.207377
[56]	eval-mlogloss:1.469499	train-mlogloss:1.193227
[57]	eval-mlogloss:1.458881	train-mlogloss:1.179861
[58]	eval-mlogloss:1.448040	train-mlogloss:1.166456
[59]	eval-mlogloss:1.437477	train-mlogloss:1.153229
[60]	eval-mlogloss:1.427140	train-mlogloss:1.140383
[61]	eval-mlogloss:1.416909	train-mlogloss:1.127643
[62]	eval-mlogloss:1.406786	train-mlogloss:1.114925
[63]	eval-mlogloss:1.397074	train-mlogloss:1.102613
[64]	eval-mlogloss:1.387587	train-mlogloss:1.090616
[65]	eval-mlogloss:1.377974	train-mlogloss:1.078681
[66]	eval-mlogloss:1.368637	train-mlogloss:1.066991
[67]	eval-mlogloss:1.359568	train-mlogloss:1.055815
[68]	eval-mlogloss:1.350614	train-mlogloss:1.044623
[69]	eval-mlogloss:1.342117	train-mlogloss:1.033799
[70]	eval-mlogloss:1.333583	train-mlogloss:1.023063
[71]	eval-mlogloss:1.325152	train-mlogloss:1.012568
[72]	eval-mlogloss:1.316887	train-mlogloss:1.002024
[73]	eval-mlogloss:1.308625	train-mlogloss:0.991781
[74]	eval-mlogloss:1.300978	train-mlogloss:0.982092
[75]	eval-mlogloss:1.293351	train-mlogloss:0.972193
[76]	eval-mlogloss:1.285645	train-mlogloss:0.962394
[77]	eval-mlogloss:1.278204	train-mlogloss:0.952912
[78]	eval-mlogloss:1.271232	train-mlogloss:0.943768
[79]	eval-mlogloss:1.264240	train-mlogloss:0.934789
[80]	eval-mlogloss:1.257283	train-mlogloss:0.925767
[81]	eval-mlogloss:1.250483	train-mlogloss:0.917213
[82]	eval-mlogloss:1.243782	train-mlogloss:0.908568
[83]	eval-mlogloss:1.237004	train-mlogloss:0.899953
[84]	eval-mlogloss:1.230770	train-mlogloss:0.891861
[85]	eval-mlogloss:1.224699	train-mlogloss:0.883890
[86]	eval-mlogloss:1.218735	train-mlogloss:0.875964
[87]	eval-mlogloss:1.212615	train-mlogloss:0.867966
[88]	eval-mlogloss:1.206485	train-mlogloss:0.859985
[89]	eval-mlogloss:1.200555	train-mlogloss:0.852193
[90]	eval-mlogloss:1.194882	train-mlogloss:0.844783
[91]	eval-mlogloss:1.189221	train-mlogloss:0.837404
[92]	eval-mlogloss:1.183613	train-mlogloss:0.829880
[93]	eval-mlogloss:1.178085	train-mlogloss:0.822712
[94]	eval-mlogloss:1.173070	train-mlogloss:0.815770
[95]	eval-mlogloss:1.167987	train-mlogloss:0.808901
[96]	eval-mlogloss:1.162776	train-mlogloss:0.802073
[97]	eval-mlogloss:1.157579	train-mlogloss:0.795234
[98]	eval-mlogloss:1.152619	train-mlogloss:0.788544
[99]	eval-mlogloss:1.147725	train-mlogloss:0.782053
[100]	eval-mlogloss:1.142818	train-mlogloss:0.775563
[101]	eval-mlogloss:1.138091	train-mlogloss:0.769422
[102]	eval-mlogloss:1.133444	train-mlogloss:0.763190
[103]	eval-mlogloss:1.128880	train-mlogloss:0.757074
[104]	eval-mlogloss:1.124434	train-mlogloss:0.751098
[105]	eval-mlogloss:1.120240	train-mlogloss:0.745295
[106]	eval-mlogloss:1.115848	train-mlogloss:0.739240
[107]	eval-mlogloss:1.111596	train-mlogloss:0.733385
[108]	eval-mlogloss:1.107433	train-mlogloss:0.727695
[109]	eval-mlogloss:1.103352	train-mlogloss:0.722144
[110]	eval-mlogloss:1.099428	train-mlogloss:0.716594
[111]	eval-mlogloss:1.095303	train-mlogloss:0.711067
[112]	eval-mlogloss:1.091444	train-mlogloss:0.705644
[113]	eval-mlogloss:1.087633	train-mlogloss:0.700480
[114]	eval-mlogloss:1.083949	train-mlogloss:0.695423
[115]	eval-mlogloss:1.080359	train-mlogloss:0.690456
[116]	eval-mlogloss:1.076620	train-mlogloss:0.685297
[117]	eval-mlogloss:1.073058	train-mlogloss:0.680264
[118]	eval-mlogloss:1.069580	train-mlogloss:0.675543
[119]	eval-mlogloss:1.066238	train-mlogloss:0.670827
[120]	eval-mlogloss:1.062910	train-mlogloss:0.666054
[121]	eval-mlogloss:1.059662	train-mlogloss:0.661402
[122]	eval-mlogloss:1.056405	train-mlogloss:0.656722
[123]	eval-mlogloss:1.053367	train-mlogloss:0.652357
[124]	eval-mlogloss:1.050227	train-mlogloss:0.647792
[125]	eval-mlogloss:1.047086	train-mlogloss:0.643340
[126]	eval-mlogloss:1.044063	train-mlogloss:0.639094
[127]	eval-mlogloss:1.040921	train-mlogloss:0.634726
[128]	eval-mlogloss:1.038010	train-mlogloss:0.630601
[129]	eval-mlogloss:1.035079	train-mlogloss:0.626266
[130]	eval-mlogloss:1.032261	train-mlogloss:0.622134
[131]	eval-mlogloss:1.029419	train-mlogloss:0.618125
[132]	eval-mlogloss:1.026644	train-mlogloss:0.613996
[133]	eval-mlogloss:1.023933	train-mlogloss:0.610009
[134]	eval-mlogloss:1.021197	train-mlogloss:0.606085
[135]	eval-mlogloss:1.018539	train-mlogloss:0.602172
[136]	eval-mlogloss:1.016005	train-mlogloss:0.598419
[137]	eval-mlogloss:1.013558	train-mlogloss:0.594684
[138]	eval-mlogloss:1.011022	train-mlogloss:0.590984
[139]	eval-mlogloss:1.008507	train-mlogloss:0.587276
[140]	eval-mlogloss:1.005985	train-mlogloss:0.583561
[141]	eval-mlogloss:1.003530	train-mlogloss:0.579972
[142]	eval-mlogloss:1.001181	train-mlogloss:0.576463
[143]	eval-mlogloss:0.998906	train-mlogloss:0.572983
[144]	eval-mlogloss:0.996607	train-mlogloss:0.569501
[145]	eval-mlogloss:0.994365	train-mlogloss:0.566248
[146]	eval-mlogloss:0.992035	train-mlogloss:0.562860
[147]	eval-mlogloss:0.989929	train-mlogloss:0.559626
[148]	eval-mlogloss:0.987786	train-mlogloss:0.556429
[149]	eval-mlogloss:0.985570	train-mlogloss:0.553099
[150]	eval-mlogloss:0.983443	train-mlogloss:0.549796
[151]	eval-mlogloss:0.981484	train-mlogloss:0.546585
[152]	eval-mlogloss:0.979378	train-mlogloss:0.543450
[153]	eval-mlogloss:0.977464	train-mlogloss:0.540454
[154]	eval-mlogloss:0.975543	train-mlogloss:0.537573
[155]	eval-mlogloss:0.973656	train-mlogloss:0.534493
[156]	eval-mlogloss:0.971842	train-mlogloss:0.531657
[157]	eval-mlogloss:0.969990	train-mlogloss:0.528633
[158]	eval-mlogloss:0.968115	train-mlogloss:0.525848
[159]	eval-mlogloss:0.966321	train-mlogloss:0.523085
[160]	eval-mlogloss:0.964590	train-mlogloss:0.520345
[161]	eval-mlogloss:0.962785	train-mlogloss:0.517542
[162]	eval-mlogloss:0.961024	train-mlogloss:0.514720
[163]	eval-mlogloss:0.959295	train-mlogloss:0.511901
[164]	eval-mlogloss:0.957631	train-mlogloss:0.509129
[165]	eval-mlogloss:0.955960	train-mlogloss:0.506625
[166]	eval-mlogloss:0.954322	train-mlogloss:0.504007
[167]	eval-mlogloss:0.952779	train-mlogloss:0.501582
[168]	eval-mlogloss:0.951277	train-mlogloss:0.499128
[169]	eval-mlogloss:0.949798	train-mlogloss:0.496657
[170]	eval-mlogloss:0.948376	train-mlogloss:0.494116
[171]	eval-mlogloss:0.946844	train-mlogloss:0.491657
[172]	eval-mlogloss:0.945304	train-mlogloss:0.489089
[173]	eval-mlogloss:0.943821	train-mlogloss:0.486603
[174]	eval-mlogloss:0.942372	train-mlogloss:0.484169
[175]	eval-mlogloss:0.941016	train-mlogloss:0.481867
[176]	eval-mlogloss:0.939710	train-mlogloss:0.479521
[177]	eval-mlogloss:0.938309	train-mlogloss:0.477242
[178]	eval-mlogloss:0.937060	train-mlogloss:0.475081
[179]	eval-mlogloss:0.935880	train-mlogloss:0.472825
[180]	eval-mlogloss:0.934522	train-mlogloss:0.470564
[181]	eval-mlogloss:0.933313	train-mlogloss:0.468337
[182]	eval-mlogloss:0.932031	train-mlogloss:0.466002
[183]	eval-mlogloss:0.930736	train-mlogloss:0.463739
[184]	eval-mlogloss:0.929442	train-mlogloss:0.461642
[185]	eval-mlogloss:0.928313	train-mlogloss:0.459522
[186]	eval-mlogloss:0.927184	train-mlogloss:0.457438
[187]	eval-mlogloss:0.926049	train-mlogloss:0.455455
[188]	eval-mlogloss:0.924889	train-mlogloss:0.453531
[189]	eval-mlogloss:0.923721	train-mlogloss:0.451578
[190]	eval-mlogloss:0.922604	train-mlogloss:0.449532
[191]	eval-mlogloss:0.921565	train-mlogloss:0.447586
[192]	eval-mlogloss:0.920538	train-mlogloss:0.445725
[193]	eval-mlogloss:0.919489	train-mlogloss:0.443780
[194]	eval-mlogloss:0.918477	train-mlogloss:0.441903
[195]	eval-mlogloss:0.917411	train-mlogloss:0.439959
[196]	eval-mlogloss:0.916333	train-mlogloss:0.438097
[197]	eval-mlogloss:0.915312	train-mlogloss:0.436259
[198]	eval-mlogloss:0.914335	train-mlogloss:0.434501
[199]	eval-mlogloss:0.913350	train-mlogloss:0.432669
[200]	eval-mlogloss:0.912452	train-mlogloss:0.430801
[201]	eval-mlogloss:0.911540	train-mlogloss:0.428990
[202]	eval-mlogloss:0.910615	train-mlogloss:0.427158
[203]	eval-mlogloss:0.909729	train-mlogloss:0.425366
[204]	eval-mlogloss:0.908865	train-mlogloss:0.423615
[205]	eval-mlogloss:0.907951	train-mlogloss:0.421935
[206]	eval-mlogloss:0.907078	train-mlogloss:0.420324

KeyboardInterrupt:

In [190]:
dcv = xgb.DMatrix(xcv.values)
XGB1 = gbm.predict(dcv)
indices = XGB1 < 0
XGB1[indices] = 0

In [191]:
multiclass_log_loss(ycv, XGB1)

0.63641752444569921

**The best score is:** 0.45266287447996978

## 5. Predict classes probabilities

#### Prepare submit with LR

In [216]:
rf.fit(train_stacked_grouped[cv_columns_tr], train_stacked_grouped.TripType)
predictionRF = rf.predict_proba(test_stacked_grouped[cv_columns_te])

In [217]:
submit_XGB = predictionRF
#test_stacked_grouped[:3]

#### With XGBoost

In [50]:
dtest = xgb.DMatrix(test_stacked_grouped[cv_columns_te].as_matrix())
predictionXGB = gbm.predict(dtest)
indices = predictionXGB < 0
predictionXGB[indices] = 0

In [51]:
submit_XGB = predictionXGB

In [52]:
submit_XGB

array([[  1.64106523e-03,   1.30538503e-03,   1.37398229e-03, ...,
          1.74849585e-03,   1.49152183e-03,   1.07993763e-02],
       [  1.00550351e-04,   9.42308543e-05,   9.79431061e-05, ...,
          1.39050113e-04,   1.05309147e-04,   1.89659011e-04],
       [  4.80866984e-05,   4.82663418e-05,   5.00364113e-05, ...,
          4.78701841e-05,   4.76965142e-05,   9.98090565e-01],
       ...,
       [  1.03858393e-03,   1.03626784e-03,   1.06251438e-03, ...,
          1.03483291e-03,   1.03107875e-03,   1.03711940e-01],
       [  4.93862433e-04,   5.00966038e-04,   5.21119975e-04, ...,
          1.05963531e-03,   1.96996005e-03,   6.51085167e-04],
       [  5.03390438e-05,   5.16264081e-05,   5.40690926e-05, ...,
          8.16527972e-05,   7.47916711e-05,   8.40847642e-05]], dtype=float32)

## 5. Submit probas

In [53]:
cl_names = ['VisitNumber']
for cls in rf.classes_:
    cl_names.append('TripType_' + str(int(cls)))

In [54]:
submit = pd.DataFrame(columns=cl_names)
submit['VisitNumber'] = test_stacked_grouped['VisitNumber']
submit[cl_names[1:]] = submit_XGB
submit[:5]

,VisitNumber,TripType_3,TripType_4,TripType_5,TripType_6,TripType_7,TripType_8,TripType_9,TripType_12,TripType_14,...,TripType_36,TripType_37,TripType_38,TripType_39,TripType_40,TripType_41,TripType_42,TripType_43,TripType_44,TripType_999
0,1,0.001641,0.001305,0.001374,0.001411,0.003621,0.003603,0.002000,0.001282,0.001255,...,0.001380,0.001620,0.816814,0.002736,0.001812,0.001567,0.001990,0.001748,0.001492,0.010799
1,2,0.000101,0.000094,0.000098,0.000128,0.000231,0.000301,0.000190,0.000101,0.000087,...,0.000147,0.000124,0.000100,0.000148,0.000106,0.000093,0.000101,0.000139,0.000105,0.000190
2,3,0.000048,0.000048,0.000050,0.000049,0.000056,0.000089,0.000061,0.000049,0.000048,...,0.000086,0.000049,0.000048,0.000048,0.000049,0.000048,0.000048,0.000048,0.000048,0.998091
3,4,0.000421,0.000423,0.000481,0.000431,0.000496,0.000510,0.836410,0.000429,0.000522,...,0.000430,0.000427,0.000436,0.000429,0.000430,0.000424,0.000455,0.000423,0.000458,0.075559
4,6,0.000048,0.000048,0.000050,0.000049,0.000055,0.000089,0.000061,0.000049,0.000048,...,0.000049,0.000049,0.000048,0.000048,0.000049,0.000048,0.000048,0.000048,0.000056,0.998081

In [55]:
submit.to_csv('submit.csv', index=False)